/* App.css */
.release-table {
    border-collapse: collapse;
    width: 100%;
}

.release-table th,
.release-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.release-table thead tr {
    background-color: #D3D3D3;
}